<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>ActivateScripts</title>
        <link rel="stylesheet" href="../static/styles/bootswatchLux.css"/>
        <link rel="stylesheet" href="../static/styles/activescripts.css"/>
        <script src="../static/js/activatescripts.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid navbar-maxheight">
                <img class="navbar-brand" src="../static/images/tatortots_logo.png" alt="TatorTots_Logo" width="125" height="125"/>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="/activatescripts">
                                Activate Scripts
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/caloriecounter">
                                Calorieën Teller
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/heartbeats">
                                Hartslag Monitor
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/sleeprythm">
                                Slaap Ritme
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="window-box">
            <h1 class="center-object header-margins">Activate Scripts Page</h1>
            <div class="standard-width">
                <div class="row-objects-endtoend">
                    <button type="button" class="btn btn-primary btn-generic-width" id="sniffer-activity-btn" onclick="pyFindBluetoothDevices()">
                        Activate Sniffer Button
                    </button>
                    <p id="sniffer-activity-notifier" class="lead text-danger">
                        Inactive
                    </p>
                </div>
            </div>
            <p></p>
            <div class="standard-width">
                <div class="row-objects-endtoend">
                    <button type="button" class="btn btn-primary btn-generic-width" id="spoofer-activity-btn" onclick="changeSpooferActivity()">
                        Activate Spoofer Button
                    </button>
                    <p id="spoofer-activity-notifier" class="lead text-danger">
                        Inactive
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>