<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>CalorieenTeller</title>
        <link rel="stylesheet" href="../static/styles/bootswatchLux.css"/>
        <link rel="stylesheet" href="../static/styles/activescripts.css"/>
        <link rel="stylesheet" href="../static/styles/caloriescounter.css"/>
        <script src="../static/js/caloriescounter.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid navbar-maxheight">
                <img class="navbar-brand" src="../static/images/tatortots_logo.png" alt="TatorTots_Logo" width="125" height="125"/>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/activatescripts">
                                Activate Scripts
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/caloriecounter">
                                Calorieën Teller
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/heartbeats">
                                Hartslag Monitor
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/sleeprythm">
                                Slaap Ritme
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="window-box">
            <h1 class="center-object header-margins">Calorieën Teller</h1>
            <div class="standard-width">
                <div class="row-objects-spread">
                    <p class="center-text-vertical" id="previous-day-lb">Previous Day</p>
                    <div class="arrow-left pad-right"></div>
                    <h3 class="base-h-width" id="current-day-date-lb">April 11th 2024</h3>
                    <div class="arrow-right pad-left"></div>
                    <p class="center-text-vertical" id="next-day-lb">Next Day</p>
                </div>
                <div class="center-circle">
                    <div class="outer-border-circle">
                        <div class="inner-background-circle">
                            <div class="circle-content-box">
                                <img src="../static/images/sneaker.png" alt="Foot" width="125" height="125"/>
                                <h2 class="general-center steps-counter" id="steps-counter-lb">
                                    5000
                                </h2>
                                <p class="general-center lead">
                                    Steps
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    </body>
</html>