<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>DeviceDetails</title>
        <link rel="stylesheet" href="../static/styles/bootswatchLux.css"/>
        <link rel="stylesheet" href="../static/styles/activescripts.css"/>
        <link rel="stylesheet" href="../static/styles/details.css"/>
        <script src="../static/js/devicedetails.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid navbar-maxheight">
                <img class="navbar-brand" src="../static/images/tatortots_logo.png" alt="TatorTots_Logo" width="125" height="125"/>
                <h3 class="navbar-brand">SWaBPT</h3>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/activatescripts">
                                Activate Scripts
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/caloriecounter">
                                Calorieën Teller
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/heartbeats">
                                Hartslag Monitor
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/sleeprythm">
                                Slaap Ritme
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="window-box">
            <h1 class="center-object header-margins">Device Details</h1>
            <div class="properties-row">
                <!-- Properties of device -->
                <div class="properties-background properties-column">
                    <div class="properties-container">
                        <h2 class="properties-label">Name:</h2>
                        <p class="properties-property" id="device-name">{{ name }}</p>
                    </div>
                    <div class="properties-container">
                        <h2 class="properties-label">Address:</h2>
                        <p class="properties-property" id="device-address">{{ address }}</p>
                    </div>
                </div>
                <!-- Notice property -->
                <div class="properties-background">
                    <div class="properties-container">
                        <h2 class="properties-label center-object">NOTICE!</h2>
                        <p class="properties-property notice">
                            By continuing use of any of these scripts, you acknowledge that you are either the owner of the selected device or have permission of the owner of the device.
                            If you do not have permission or this is not your device, please do not use any of the scripts.
                            Use of these scripts is not allowed if you do not have permission of the owner and use of the scripts will be at your own risk!
                        </p>
                    </div>
                </div>
            </div>
            <div class="properties-row-buttons">
                <!-- Buttons to utilize scripts -->
                <button type="button" class="btn btn-primary btn-generic-width button-style" id="activateDosBtn" onclick="dosAttackStart()">Start DoS Attack</button>
                <div class="button-row-gap"></div>
                <button type="button" class="btn btn-primary btn-generic-width button-style" id="activateSpoofBtn" onclick="spoofMacAddress()">Spoof Attack</button>
                <div class="button-row-gap-mid"></div>
                <button type="button" class="btn btn-primary btn-generic-width button-style" id="activateScannerBtn" onclick="scanServices()">Scan Services</button>
            </div>
        </div>
        <!-- Table for scanned services-->
        <div class="table-services-container">
            <table class="table table-hover" id="services-table">
                <thead>
                    <tr class="table-dark table-services-head">
                        <th scope="col" class="services-col-id">
                            <p class="start-object service-header-fs">ID</p>
                        </th>
                        <th scope="col" class="services-col-name">
                            <p class="start-object service-header-fs">Name</p>
                        </th>
                        <th scope="col" class="services-col-description">
                            <p class="start-object service-header-fs">Description</p>
                        </th>
                        <th scope="col" class="services-col-host">
                            <p class="start-object service-header-fs">Host</p>
                        </th>
                        <th scope="col" class="services-col-provider">
                            <p class="start-object service-header-fs">Provider</p>
                        </th>
                        <th scope="col" class="services-col-port">
                            <p class="start-object service-header-fs">Port</p>
                        </th>
                        <th scope="col" class="services-col-protocol">
                            <p class="start-object service-header-fs">Protocol</p>
                        </th>
                        <th scope="col" class="services-col-fc">
                            <p class="start-object service-header-fs">Force Connect</p>
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </body>
</html>