.window-box {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.center-object {
    display: flex;
    justify-content: center;
    align-content: center;
}

.start-object {
    display: flex;
    justify-content: start;
    align-content: center;
}

.header-margins {
    margin-top: 20px;
    margin-bottom: 30px;
}

.navbar-maxheight {
    height: 75px;
}

.standard-width {
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
}

.tableBluetooth {
    width: 100%;
}

.tableBluetooth:hover {
    background-color: darkgrey;
}

.columnWidthID {
    width: 5%;
    font-weight: bold;
}
.columnWidthName {
    width: 10%;
}

.columnWidthAddress {
    width: 20%;
}

.table-bl-head {
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 0px;
}

.deleteDevices {
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 15px;
    margin-right: 30px;
}

.refreshDevices {
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 15px;
}

.header-font-sizes {
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.columnWidthButtons{
    width: 100%;
    display: flex;
    justify-content: end;
    align-content: center;
}